/.vs/TrampolineCenterAPI/FileContentIndex/83f5e3b2-8a14-4bd3-b8ce-f80dd71e7416.vsidx
/.vs
/TrampolineCenterAPI/obj/Release/net6.0/TrampolineCenterAPI.GeneratedMSBuildEditorConfig.editorconfig
/TrampolineCenterAPI/obj/Release/net6.0/TrampolineCenterAPI.csproj.AssemblyReference.cache
/TrampolineCenterAPI/obj/Release/net6.0/TrampolineCenterAPI.assets.cache
/TrampolineCenterAPI/bin/Debug/net6.0
/TrampolineCenterAPI/obj/Debug/net6.0/ref
/TrampolineCenterAPI/obj/Debug/net6.0/refint
/TrampolineCenterAPI/obj/Debug/net6.0/staticwebassets
/TrampolineCenterAPI/obj/Debug/net6.0/apphost.exe
/TrampolineCenterAPI/obj/Debug/net6.0/staticwebassets.build.json
/TrampolineCenterAPI/obj/Debug/net6.0/TrampolineCenterAPI.AssemblyInfo.cs
/TrampolineCenterAPI/obj/Debug/net6.0/TrampolineCenterAPI.AssemblyInfoInputs.cache
/TrampolineCenterAPI/obj/Debug/net6.0/TrampolineCenterAPI.csproj.CopyComplete
/TrampolineCenterAPI/obj/Debug/net6.0/TrampolineCenterAPI.csproj.CoreCompileInputs.cache
/TrampolineCenterAPI/obj/Debug/net6.0/TrampolineCenterAPI.csproj.FileListAbsolute.txt
/TrampolineCenterAPI/obj/Debug/net6.0/TrampolineCenterAPI.dll
/TrampolineCenterAPI/obj/Debug/net6.0/TrampolineCenterAPI.genruntimeconfig.cache
/TrampolineCenterAPI/obj/Debug/net6.0/TrampolineCenterAPI.MvcApplicationPartsAssemblyInfo.cache
/TrampolineCenterAPI/obj/Debug/net6.0/TrampolineCenterAPI.MvcApplicationPartsAssemblyInfo.cs
/TrampolineCenterAPI/obj/Debug/net6.0/TrampolineCenterAPI.pdb
/TrampolineCenterAPI/obj/Debug/net6.0/TrampolineCenterAPI.sourcelink.json
