/.vs/TrampolineCenterAPI/FileContentIndex/83f5e3b2-8a14-4bd3-b8ce-f80dd71e7416.vsidx
/.vs
/TrampolineCenterAPI/obj/Release/net6.0/TrampolineCenterAPI.GeneratedMSBuildEditorConfig.editorconfig
/TrampolineCenterAPI/obj/Release/net6.0/TrampolineCenterAPI.csproj.AssemblyReference.cache
/TrampolineCenterAPI/obj/Release/net6.0/TrampolineCenterAPI.assets.cache
